body{
	background-color:white;
	margin: 0%;
  padding: 0%;
}

*{
  box-sizing: border-box;
}
.column-container{
  display: flex;
  column-count:2;width: 100%;
  /* column-gap:30px; */
}

button{
  /* margin-left: 200px; */
  background-color: #00a2fe;
  color: #ffffff;
  font-size:2vw;
  border:#ffffff;
  border-radius:1vw;
  font-family:arial;
  text-align: center;
  height: 3vw; 
  width: 13vw;
}

button:hover{
  color: #00a2fe;
  background-color: #ffffff;
  font-size:2vw;
  text-shadow: #000000;
  font-weight: bold;
  border-color: #00a2fe;
  border-style: solid;
  height: 3vw; 
  width: 13vw;
}

/* ----- nav ----- */
nav {
  /* overflow: hidden; */
  background-color:#00a2fe;
  height:50px;
  width: 100%;
}

label.myname{
 font-size: 30px;
 color: #ffffff;
 line-height: 50px;
}

nav ul{
  float: right;
  list-style-type: none;
}

nav ul li{
 display: inline-block;
 justify-content: center;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-family:arial;
  padding: 8px 10px;
  line-height: 20px;
}

nav ul li a:hover {
  background-color: #ffffff;
  color:#00a2fe;
  /* font-size: 20px; */
  font-weight:bold;
  text-decoration:underline;
  font-family:arial;
  /* height: 50px; */
  /* padding: 8px 10px;  */
  border-radius:5px;
  /* border: 10px #00a2fe solid;  */
} 

#checkbtn{
  float:right;
  line-height: 50px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 25px;
  display:none;
}

#check{
  display: none;
}

#check:checked ~ ul{
  right: 0;
}
@media (max-width:680px){

  nav ul {
    width: 100%;
    height: 100%;
    background-color:#00a2fe;

    position: fixed;
    top:34px;
    right: -100%;
    transition: .5s;
  }

  #checkbtn{
    display: block
  }

  nav ul li{
  display: block;
  text-align: center;
  }

  nav ul li a{
    line-height: 14vw;
    color: #ffffff;
    font-weight: bold;
    font-size: 6w;
    /* padding-top: 10vw; */
  }

  .li_a{
    padding-top: 10vw;
  }


  nav ul li a:hover {
    font-family:arial;
    background-color: #00a2fe;
    color: #ffffff;
    } 

 

}
/* ----- home.html ----- */
.maintext{
		font-size:3.8vw;
    line-height: 80%;
		font-family:arial black;
		margin-top:4vw;
		margin-left:20vw;	
    margin-bottom: 00px;
}

.imgback img{
	background-position: right top;
  margin-top:4vw;
  margin-left:10vw;
	width: 20vw;
  height: 20vw;
  border-radius: 53% 47% 41% 0% / 50% 56% 45% 49%;
  background-color: #00a2fe;
}


.button1{
  margin-left:20vw;	
}

.indimg{
  display: none;
}

@media (max-width:600px){

  .maintext{
    font-size:9vw;
    line-height: 50%;
    font-family:arial black;
    margin-top: 0.5em;
    margin-left:10vw;	
    margin-bottom: 00px;
  }

  .imgback img{
    display: none;
  }

  .button1{
    font-size: 4vw;
    font-weight: bold;
    width: 25vw;
    height: 10vw;
    margin-left:10vw;
    border-radius:2vw;
    padding: 1vw 2vw;
  }

  .button1:hover{
    color: #00a2fe;
    background-color: #ffffff;
    font-size:4vw;
    text-shadow: #000000;
    font-weight: 700;
    border-color: #00a2fe;
    border-style: solid;
    padding: 1vw 2vw;
    width: 25vw;
    height: 10vw;
  }

  .indimg{
    display:block;
  }


}

/* ----- about.html ----- */

.column-container-about{
  display: flex;
}


.abouttitle{
  font-size: 3.3vw;
  color: #00a2fe;
  font-family:arial;
  text-align: center;
  font-weight: bolder;
  text-decoration:underline;

}

.mayankimg img{

  margin-top:2vw;
  margin-left:8vw;
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  border: 4px #00a2fe solid;
}

.myname{
  margin-top:2vw;
  margin-left: 4vw;
  font-size:3vw;
  font-family:arial;
  font-weight: bolder;
  color: #000000;
  text-align: left;
}

.mydetails{
  /* margin-top:1vw; */
  font-size:1.5vw;
  font-family:arial;
  margin-left:4vw;	
  color: #000000;
  text-align: left;
  margin-right: 4vw;
  align-self:auto;
  line-height: 1.9vw;
}
 @media (max-width:600px){
   
      .column-container-about{
        flex-direction: column;
        align-items: center;
      }

      .abouttitle{
        font-size:9vw; 
        text-align: center;
        margin-left: 0%;
      }

      .mayankimg img{
        align-items: center;
        margin-top:2vw;
        width: 54vw;
        height: 54vw;
        border-radius: 50%;
        border: 4px #00a2fe solid;
        margin-left: 0%;
      }

      .myname{
        margin-top:2vw;
        margin-left: 4vw;
        font-size:9vw;
        font-family:arial;
        font-weight: bolder;
        color: #000000;
        text-align: left;
      }

      .mydetails{
        margin-top:0.5vw; 
        font-size:4.5vw;
        font-family:arial;
        margin-left:4vw;	
        color: #000000;
        text-align: left;
        margin-right: 4vw;
        align-self:auto;
        line-height: 2.9vh;
      }

    }

/* ----- contact.html ----- */

.abouttitle{
  font-size:3vw; 
  text-align: center;
  margin-left: 0%;
  margin-bottom: 1vw;
}

.contactinput{
  text-align: center;
}

.tam{
  width:23vw;
  margin-bottom: 1vw;
  height:3vw;
  font-family:arial;
  font-weight: bolder;
  border-radius: 12px;
  border-style:solid;
  border-width:3px;
}

.od{
  width:23vw;
  margin-bottom: 2vw;
  height: 20vw;
  font-family:arial;
  font-weight: bolder;
  border-radius: 12px;
  border-style:solid;
  border-width:3px;
  position: static;
}


.send{
  background-color: #00a2fe;
  color: #ffffff;
  font-size:1.4vw;
  border:#ffffff;
  border-radius:19px;
  font-family:arial;
  height: 2.4vw; 
  width: 6vw;
}

.send:hover{
  color: #00a2fe;
  background-color: #ffffff;
  font-size:1.4vw;
  text-shadow: #000000;
  font-weight: bold;
  border-color: #00a2fe;
  border-style: solid;
  height: 2.4vw; 
  width: 6vw;
}

.boxsend{
  display: flex;
  justify-content: center;
  text-align: center;
}

  @media (max-width:900px){

      .abouttitle{
        font-size:9vw; 
        text-align: center;
        margin-left: 0%;
      }

      .contactinput{
        text-align: center;
      }
      
      .tam{
        width:80vw;
        margin-bottom:5vw;
        height: 11vw;
        font-family:arial;
        font-weight: bolder;
        border-radius: 12px;
        border-style:solid;
        border-width:3px;
      }
      
      .od{
        width:80vw;
        margin-bottom: 2vw;
        height: 60vw;
        font-family:arial;
        font-weight: bolder;
        border-radius: 12px;
        border-style:solid;
        border-width:3px;
        position: static;
      }
      
      
      .send{
        background-color: #00a2fe;
        margin-top: 5vw;
        color: #ffffff;
        font-size:7vw;
        border:#ffffff;
        border-radius:19px;
        font-family:arial;
        height: 10vw; 
        width: 30vw;
      }
      
      .send:hover{
        color: #00a2fe;
        background-color: #ffffff;
        font-size:7vw;
        text-shadow: #000000;
        font-weight: bold;
        border-color: #00a2fe;
        border-style: solid;
        height: 10vw; 
        width: 30vw;
      }

  }


/* ----- skkills.html ----- */


.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  overflow: hidden;
  max-width: 80vw;
  width: 100%;
  margin-top: 0%;
}


.skilltitle{
  font-size: 3.3vw;
  color: #00a2fe;
  font-family:arial;
  text-align: center;
  font-weight: bolder;
  text-decoration:underline;
  margin-bottom: 0%;
}


.skills-text {
  padding: 3vw;
  font-family:arial;
}

.skill-percentage{
  width: 100%;
  margin-right: 2%;
  margin-top: 1vw;
}
.skills-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1vw;
  font-family:arial;
}

.skills-list {
  margin-top: 1vw;
}

.skill-item {
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.skill-name {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-weight:bold;
  margin-top: 1vw;
  margin-bottom: 0%;
  width: 100%;
}

span{
 text-align: right;
}

.name-icon {
  display: flex;
  align-items: center;
}

.icon {
  width: 3vw;
  height: 3vw;
  margin-right: 8px;
  margin-top: 8px;
  margin-left: 8px;
}

.progress-bar {
  width: 100%;
  background-color: #e6e8f0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 8px;
  background-color: #00a2fe;
  transition: 1s ease;
}

.skills-image {
 /* flex: 1; */
 width: 40vw;
 height: 40v2;
}

.skills-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#fonti{
  font-size: 30px;
  margin-top: 8px;
  margin-left: 8px;
  /* margin-bottom: 4px; */
  color: #00a2fe;
}

.skill-logo-name{
  margin-left: 10px;
  margin-bottom: 2%;
  margin-top: 3%;
}

    @media (max-width:600px){

      .skills-section {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .skills-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        border-radius: 10px;
        overflow: hidden;
        max-width: 90vw;
        width: 100%;
        margin-top: 0%;
      }

      .skills-image {
        width: 70vw;
         height: 70vw; 
      }

      .skills-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .skilltitle{
        font-size: 10vw;
      }

      #fonti{
        font-size: 30px;
        margin-top: 8px;
        margin-left: 8px;
        margin-bottom: 4px;
        color: #00a2fe;
      }
      
    }



/* ----- projeacts.html ----- */

#proing{
  background-color: #00a2fe;
  height: 20vw;
  width: 20vw;
  border-radius: 10%;
}


@media (max-width:600px){
  #proing{
    height: 60vw;
    width: 60vw;
  }
}
